* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

svg#freepik_stories-javascript-frameworks:not(.animated) .animable {
    opacity: 0;
}

svg#freepik_stories-javascript-frameworks.animated #freepik--Windows--inject-122 {
    animation: 1.5s Infinite linear floating;
    animation-delay: 0s;
}

svg#freepik_stories-javascript-frameworks.animated #freepik--speech-bubbles--inject-122 {
    animation: 1.5s Infinite linear floating;
    animation-delay: 0s;
}

@keyframes floating {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

body {
    background-color: #F2F2F2;
    height: 100%;
}

.navbar {
    background-color: #414246;
    height: 42px;
    display: flex;
    align-items: center;
    box-shadow: 0px 8px 8px 0px rgba(221, 221, 221, 1);
}

.navbar h1 {
    width: 90%;
    margin: 0 auto;
    color: #f1f1f1;
    font-size: 20px;
}

.container {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.inner {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    margin: 0 auto;
}

.inner .main-info h1 {
    font-size: 40px;
    color: #A1CCAD;
}

.inner .main-info h2 {
    font-size: 20px !important;
    color: #414246;
    margin-top: 1em;
}

.inner .main-info .lead {
    font-size: 14px;
    color: #414246;
    margin-top: 2em;
}

.inner .main-info p {
    font-size: 12px;
    color: #696969;
    margin-top: 1em;
}

.inner .main-info .info {
    font-size: 12px;
    font-weight: bold;
    color: #9ECBAB;
    margin-top: 1em;
}

.inner .main-img {
    align-self: end;
}

.inner .main-img img {
    max-width: 330px;
    margin-top: 3em;
}

.footer {
    background-color: #414246;
    height: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer a {
    text-decoration: none;
    color: #9ECBAB;
    font-weight: 100;
    font-size: 12px;
}

@media (min-width: 768px) {
    .inner .main-info h1 {
        font-size: 80px;
    }

    .inner .main-info h2 {
        font-size: 40px;
    }

    .inner .main-info .lead {
        font-size: 20px;
    }

    .inner .main-info p {
        font-size: 16px;
    }

    .inner .main-info .info {
        font-size: 16px;
    }

    .inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .inner .main-img img {
        margin-top: 0 !important;
        max-width: 623px;
    }

}